chaospy
dill
importlib-metadata
ipython
ipykernel
joblib
matplotlib
mpi4py
more-itertools
multiprocess
notebook
nb_conda_kernels
numpy
numpoly
pandas
pip
plotly
psutil
pyproj
python-kaleido
scikit-learn
scipy
seaborn
setuptools
sympy
tabulate
zlib
zipp
