dill
importlib-metadata
ipython
ipykernel
joblib
matplotlib
more-itertools
multiprocess
notebook
nb_conda_kernels
numpy
pandas
pip
plotly
psutil
pyproj
scikit-learn
scipy
seaborn
setuptools
sympy
tabulate
zlib
zipp
